body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 2% 1%;
}

h1 {
    color: #348ac4;
    text-align: center;
}

nav {
    text-align: center;
}

ul {
    list-style-type: none;
}

li > a {
    margin: 5px 10px;
    text-decoration: none;

}