body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 2% 1%;
}

h1 {
    color: #348ac4;
    text-align: center;
}

nav {
    margin: 0 auto;
}

li {
    padding: space-between;
}